<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <img src="../assets/image/logo.png" class="img thumbnail" alt="brand logo" height="50px">
    </li>

    <div class="dropdown">
      <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown">
        mission
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Mars Orbiter Mission</a>
        <a class="dropdown-item" href="#">LVM3-X (CARE)</a>
        <a class="dropdown-item" href="#">AstroSat</a>
      </div>
    </div>

    <div class="dropdown">
      <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown">
        About us
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Vision and Mission StatementsMars Orbiter Mission</a>
        <a class="dropdown-item" href="#">Centers</a>
        <a class="dropdown-item" href="#">Organisation Structure</a>
      </div>
    </div>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">conect us</a>
    </li>
  </ul>
</nav>